body{
font-size: 14px;
color: #3d3b3b;
border: 2px solid #9b9b9b ;
background-color: #000000;
padding: 1px;
margin: auto;
max-width: 800px;
cursor: url("//2.bp.blogspot.com/-uc-RVzjXLhI/VkVYXbrFXEI/AAAAAAAADas/LbzSMFo4kn4/s1600/Miku%2BCursor.png"), auto;
font-family: "Anton", sans-serif;
background-image: url("Image/cherry-blossom-japanese-garden-pavilion-scenery-anime-scenery-4k-wallpaper-uhdpaper.com-227@0@k.jpg");
background-repeat:no-repeat;
background-size:cover;
box-shadow: 400px 400px 400px 400px rgba(236, 236, 236, 0.75) inset;

}
.ibumi {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border: #b2b2b2;
    text-decoration-color: #000000;

  }
hr{
    margin-top : 2px;
    margin-bottom : 2px;
    border-top : 1px solid #9b9b9b;
    border-right-style : none;
    border-right-width : 0;
    border-bottom-style : none;
    border-bottom-width : 0;
    border-left-style : none;
    border-left-width : 0;
    }
.bio {
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-size: 20px;
    text-decoration: #000000;

}
bw{
    padding-left: 25%;
}
